footer {
  padding: 2rem;
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-s);
  text-align: center;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color:white
}
footer .footercontent{
  padding:2.3rem;
}
footer .footerlinks{
  padding:2.3rem;
}
footer .footersupport{
  padding:2.3rem;
}
footer .footercontent p:nth-child(2){
  background-image: url('../../icons/home.svg');
  background-repeat: no-repeat;
  background-position: 24%;
  background-size: 6% 60%;
}